footer
  a(href="https://github.com/chuyachia/" target="_blank")
    i(class="circular icon github inverted large")
  a(href="mailto:chuyachia@gmail.com")
    i(class="icon envelope outline circular inverted large")
