div(class="ui modal" id="pollmodal")
  i(class="close icon")
  div(class="header") New poll
  div(class="content")
    form(class="ui form" id ='createpoll' action = '/newpoll' method = 'post')
      div(class="field")
        label Title
        input(type="text" name="pollTitle" maxlength="50" required)
      div(class="field")
        label Description
        input(type="text" name="pollDescription" maxlength="300" required)
      div(class="field")
        label Options
        div(class="ui action input")
          input( type="text" name="option1" maxlength="30" required)
          button(class="ui icon button positive")
            i(class="plus icon")
      button(class="ui  button grey" type="submit") Create
        