div(class='navbtn')
  a(class='btn' href='/')
    span(class="glyphicon glyphicon-home iconwhite iconlarge" aria-hidden="true")
  if authorized
    a(class='btn' href='/profile')
      span(class="glyphicon glyphicon-user iconwhite iconlarge" aria-hidden="true")