html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="/notfound.min.js" type="text/javascript")
    script(src='/dist/semantic.min.js' type="text/javascript")
    link(rel='stylesheet', href='/dist/semantic.min.css')
    title VotingApp - create a poll or cast a vote
  body
    include components/navbar.pug
    div(class="ui grid container")
        include components/footer.pug
        h2(class="ui header")
            i(class="eye icon")
            div(class="content") 404- Can't find what you are looking for...