
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src='/profile.min.js')
    script(src='/dist/semantic.min.js' type="text/javascript")
    link(rel='stylesheet', href='/dist/semantic.min.css')

    title= 'VotingApp - '+user+"'s Profile"
  body
    include components/navbar.pug
    div(class="ui grid text container")
      include components/footer.pug
      div(class='ui card fluid')
        div(class="content")  
          div(class="header")='Polls created by '+user
          div(class="ui middle aligned divided list")
            each url, title in polls_dict
              div(class="item")
                div(class="right floated content")
                  a(role="button"  class="ui button icon grey circular" href='/poll/'+url)
                    i(class="icon search")
                  button(class="ui button icon circular delete" id=url)
                    i(class="icon trash alternate")
                div(class="content")= title
        button(type= "button" class= "ui button bluegreen big" id="showmodal") Create a new poll
        include components/modal.pug

   
