body {
  padding:10px;
  font-family: 'Prata';
}


h2, h5, a,button, label,form , .note {
     font-family: 'Open Sans';
}
a,button {
  margin-right:10px
}
.note {
  font-size:12px
}


header {
  text-align: right;
}
#sort{
  text-align: right;
}
.entry{
  margin-bottom:5px
}
#addpoll {
  border: 2px dotted #888888;
  padding-bottom:10px;
}
.radio-inline, .radio {
  margin-left:10px;
  margin-bottom:5px  
}

.glyphicon{
  font-size: 20px;
}
.glyphicon-remove {
  color:#d9534f
}
.glyphicon-home {
  color:#888888
}
#can {
  width:50%;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p#warning{
  font-style: italic;
}
.center-container {
  width:70%;
  box-shadow: 10px 10px 2px #888888;
  border:1px solid  rgb(204,204,204);
  padding:10px
}



