body {
  font-family: 'Prata';
  position: relative;
}
h2,
h3,
h4,
h5,
a,
button,
label,
form,
.note,
header,
footer {
  font-family: 'Open Sans';
}
a {
  text-decoration: none !important;
}
header {
  background-color: #17252a;
  color: white;
  padding-left: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 40px;
  text-align: center;
  z-index: 5;
}
header .dropdown {
  position: absolute;
  right: 0;
  display: inline-block;
}
#sort {
  float: right;
}
footer {
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: right;
  padding: 10px;
}
footer a {
  position: relative;
  display: block;
  margin-top: 5px;
}
.content {
  padding: 50px 50px 10px 50px;
  min-height: 100%;
  z-index: 1;
}
.card {
  box-shadow: 10px 10px 2px #888888;
  border: 1px solid #cccccc;
  padding: 10px;
  width: 100%;
  background-color: white;
}
.cardwrap {
  height: 80%;
  display: flex;
  align-items: center;
}
.dropdown-toggle {
  background-color: #17252a;
}
.btn-default,
.btn-default:focus {
  background-color: #17252a;
  color: white;
  border: 1px solid #17252a;
}
.btn-default:hover,
.btn-default:focus:hover,
.btn-default:active,
.btn-default:focus:active {
  background-color: white !important;
  color: #17252a;
}
.greenbtn,
.greenbtn:focus {
  background-color: #3aafa9;
  border: 1px solid #2d8984;
}
.buttomrow .btn {
  color: #17252a;
  background-color: white;
  margin-bottom: 20px;
  margin-top: 20px !important;
}
.note {
  font-size: 12px;
}
.polldisplay {
  min-height: 30%;
  overflow: hidden;
}
#addpoll {
  background-color: #3aafa9;
  box-shadow: 10px 10px 2px #888888;
  color: white;
  padding-bottom: 10px;
  border: 1px solid #2d8984;
  margin-bottom: 10px;
}
.crop {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.entry {
  margin-top: 5px;
}
.radio-inline,
.radio {
  margin-left: 10px;
  margin-bottom: 5px;
}
.glyphicon {
  font-size: 20px;
}
.glyphicon-remove {
  color: #d9534f;
}
.iconblack {
  color: #17252a;
}
.iconlarge {
  font-size: 30px;
  margin: 5px;
}
.iconwhite {
  color: white;
}
#containercanvas {
  width: 90%;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
p#warning {
  font-style: italic;
}
